params{
  outdir = '/home/kpettie/kade/hichip/1000G/H3K27ac/hicpro_LWK/input'
  mode = "all" // all
  bwt2_global_glob = "/home/kpettie/kade/hichip/1000G/H3K27ac/hicpro_LWK/output/bowtie_results/bwt2_global/LWK_r**/*_001_hg19.bwt2glob.{bam,unmap.fastq}"
  tmpdir = "/godot/users/kade/tmp"
}

process{
  module = "samtools"
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 8
  memory = '16G'
  time  = '8h'
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = true
  to = 'kpettie@stanford.edu'
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
