params{
  outdir = '190721output'
  mode = "all" // all
  fastq_comb_glob = "/godot/shared_data/atacseq/fastqs/combined/*.fastq.gz"
  fastq_sub_glob = "/godot/shared_data/ashley_ATACseqData/fastqs/combined_runs/*.fastq.gz"
  sortcores = 2
}

process{
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 1
  memory = '4G'
  time  = '59m'
  withLabel: 'sort'{
    cpus = params.sortcores
    memory = { 4.GB * task.attempt }
    time = '96h'
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 5
  }
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = true
  to = 'kpettie@stanford.edu'
}
