params{
  outdir = '060821output'
  mode = "all" // all

  bam_runs = ["/cashew/users/kade/nextflow/selection_1000G/mapping/run1/030821mapqfirst/bams/hornet/maf0.05mac0/*.final.bam",
              "/cashew/users/kade/nextflow/selection_1000G/mapping/run2/300721mapqfirst/bams/hornet/maf0.05mac0/*.final.bam"]

  samcores = 20
}

process{
  module = 'anaconda/4.8' // must have cutadapt installed
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 1
  memory = '4G'
  time  = '2h'
  withLabel: 'rmdup'{
    module = 'samtools:picard/2.18.20'
    maxForks = 10
    cpus = 1
    memory = '16G'
    time  = '8h'
  }
  withLabel: 'samtools'{
    module = 'samtools'
    cpus = params.samcores
    memory = params.samcores + 'G'
    time  = '8h'
  }

}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = true
  to = 'kpettie@stanford.edu'
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
